.formulario {
  transform: translateY(+30%);
  height: 400px;
  margin: 0px 400px;
  text-align: center;
  border: 2px solid rgb(29, 11, 11);

}


.formulario input {
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
  display: block;
  margin: auto;
}




.formulario button {
  font-size: inherit;
  padding: 1rem;
  margin: 4rem;
  text-align: center;
}
