.dashboard {
  
  margin-left: 30px;
  text-align: center;
  width: 50%;
  display: inline-block;
  
}
/*
.formulario input {
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  display: block;
}

.formulario button {
  font-size: inherit;
  display: block;
  padding: 1rem;
  margin: 1rem;
}*/
